<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>分期公司补充信息</title>
		<meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no'>
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
		<link rel="stylesheet" href="css/common.css" />
		<link href="css/index.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/layer/3.1.0/mobile/need/layer.css" rel="stylesheet">
		<script src="js/vue.js"></script>
	</head>

	<body>
		<div id="app">
			<header class="clearFix" id="header">
				<img class="icon" src="img/Group 6.png" alt="" />
				<p>分期公司补充信息</p>
			</header>
			<form action="" method="post" id="loginForm" class="form">
				<div id="content">
					<div class="workInfo workInfo1">
						<p class="title"><span>工作信息</span></p>
						<p><span>工作单位</span><input id="workInfo" name="workInfo" v-model="corpName" type="text" placeholder="请输入工作单位"></p>
						<p><span>工作单位所在省</span>
							<input id="Province" name="Province" v-model="provinceName" type="text" readonly="" @click="chooseProvince" placeholder="请选择单位所在省"/>																			
							<img src="img/Group 5.png" alt="" />
						</p>
						<p><span>工作单位所在市</span>
							<input id="city" name="city" v-model="cityName" type="text" readonly="" @click="chooseCity" placeholder="请选择单位所在市"/>																			
							<img src="img/Group 5.png" alt="" />
						</p>
						<p><span>工作单位所在区</span>
							<input id="area" name="area" v-model="areaName" type="text" readonly="" @click="chooseArea" placeholder="请选择单位所在区"/>																			
							<img src="img/Group 5.png" alt="" />
						</p>
						<div id="show"></div>
						<p><span>工作单位详细地址</span><input id="detail" name="detail" v-model="corpDetail" type="text"></p>
						<p><span>工作单位电话</span><input id="phone" name="phone" v-model="corpPhone" type="text"></p>
						<p><span>月收入</span><input id="income" name="income" type="number"></p>
					</div>
					<div class="workInfo">
						<p class="title"><span>紧急联系人</span></p>
						<p><span>姓名</span><input id="contactsName" name="contactsName" type="text" placeholder="姓名"></p>
						<p><span>联系方式</span><input id="contactsPhone" name="contactsPhone" type="text" placeholder="联系方式"></p>
						<p><span>关系</span>
							<select id="contactsRelation" name="contactsRelation">
								<option>父母</option>
								<option>配偶</option>
								<option>同事</option>
								<option>同学</option>
							</select>
							<img src="img/Group 5.png" alt="" />
						</p>
					</div>
				</div>

				<footer id="footer">
					<button id="btn" type="submit">下一步</button>
				</footer>
				
				<mt-popup v-model="provinceVisible" popup-transition="popup-fade" class="popup">
				  <div class="workplace">
				  	工作单位所在地区<i class="close"></i>
				  </div>
				  <div class="choose">选择省份/地区</div>
				   <ul class="itemList">
				   		<li v-for="item in provinceList" :data-areacode="item.areaCode" v-cloak @click="chooseProvinceVal(item)">
				   			<div class="letter">{{item.areaLetter}}</div>
				   			<div class="name">{{item.areaName}}</div>
				   		</li>
				   </ul>
				</mt-popup>
							
				<mt-popup v-model="cityVisible" popup-transition="popup-fade" class="popup">
				  <div class="workplace">
				  	工作单位所在地区<i class="close"></i>
				  </div>
				  <div class="choose">已选择</div>
				  <div class="hasName">{{provinceName}}</div>
				  <div class="toName">选择城市</div>
				   <ul class="itemList">
				   		<li v-for="item in cityList" :data-areacode="item.areaCode" v-cloak @click="chooseCityVal(item)">
				   			<div class="letter">{{item.areaLetter}}</div>
				   			<div class="name">{{item.areaName}}</div>
				   		</li>
				   </ul>
				</mt-popup>
				
				<mt-popup v-model="areaVisible" popup-transition="popup-fade" class="popup">
				  <div class="workplace">
				  	工作单位所在地区<i class="close"></i>
				  </div>
				  <div class="choose">已选择</div>
				  <div class="hasName">{{cityName}}</div>
				  <div class="toName">选择区县</div>
				   <ul class="itemList">
				   		<li v-for="item in areaList" :data-areacode="item.areaCode" v-cloak @click="chooseAreaVal(item)">
				   			<div class="letter">{{item.areaLetter}}</div>
				   			<div class="name">{{item.areaName}}</div>
				   		</li>
				   </ul>
				</mt-popup>
								
			</form>
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
		<script src="js/area.js"></script>
		<script src="js/vue.js"></script>
  		<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
		
		
		<script>
			var vm = new Vue({
				el: '#app',
				data: {
					corpName: "",
					corpDetail: "",
					corpPhone: "",
					outTradeNo:0,
					provinceVisible: false,
					cityVisible:false,
					areaVisible:false,
					provinceList:[],
					cityList:[],
					areaList:[],
					provinceName:"",
					cityName:"",
					areaName:"",
					provinceCode:"",
					cityCode:"",
					areaCode:''
				},
				created: function() {
					var that=this;
					this.outTradeNo = this.GetQueryString("outTradeNo");
					this.query();
					this.queryCity("",function(res){
						that.provinceList=res;
					});
				},
				methods: {
					query() {
						var that = this;
						localStorage.setItem("outTradeNo", this.outTradeNo);
						$.ajax({
							url: 'http://www.trinfi.com/dkh5/inputData/query?outTradeNo=' + this.outTradeNo,
							type: 'get',
							data: {},
							dataType: 'json'
						}).then(function(res) {
							//把从json获取的数据赋值给数组
							that.corpName = res.inputData.corpName;
							that.corpDetail = res.inputData.corpDetail;
							that.corpPhone = res.inputData.corpPhone;
							that.linkManName = res.inputData.linkManName;
							that.relation = res.inputData.relation;
							that.linkManType = res.inputData.linkManType;
							that.linkManMobile = res.inputData.linkManMobile;
							that.outTradeNo = localStorage.outTradeNo;
							if(res.isContacts==0){
								//location.href="index.html?outTradeNo="+that.GetQueryString("outTradeNo");
							}
							else if(res.fourElements==0){
								location.href="signInformation.html?outTradeNo="+that.GetQueryString("outTradeNo");
							}
							else if(res.creditAuthorization==0){
								location.href="signInformation2.html?outTradeNo="+that.GetQueryString("outTradeNo");
							}
							else{
								location.href="signInformation3.html?outTradeNo="+that.GetQueryString("outTradeNo");
							}			
						}).fail(function() {
							console.log('失败');
						})
					},
					GetQueryString(name) {
						var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
						var r = window.location.search.substr(1).match(reg); //search,查询？后面的参数，并匹配正则
						if(r != null) return unescape(r[2]);
						return null;
					},
					queryCity(code,callback){
						$.ajax({
							url: 'http://www.trinfi.com/dkh5/inputData/queryCityForH5?outTradeNo=' + this.outTradeNo +"&parentCode=" + code,
							type: 'get',
							data: {},
							dataType: 'json'
						}).then(function(res){
							//删除相同的字母
							var areaLetterArr=[];
							res.date.forEach(function(d){
								if(areaLetterArr.indexOf(d.areaLetter)>-1){
									d.areaLetter="";
								}
								else{
									areaLetterArr.push(d.areaLetter);
								}							
							})
							callback(res.date);
						}).fail(function() {
							console.log('失败');
						})
					},
					chooseProvince(){
						this.provinceVisible=true
					},
					chooseCity(){
						this.cityVisible=true
					},
					chooseArea(){
						this.areaVisible=true
					},
					chooseProvinceVal(province){
						this.provinceCode = province.areaCode;
						this.provinceName=province.areaName;
						this.provinceVisible=false;
					},
					chooseCityVal(city){
						this.cityCode = city.areaCode;
						this.cityName=city.areaName;
						this.cityVisible=false;
					},
					chooseAreaVal(province){
						this.areaCode = province.areaCode;
						this.areaName=province.areaName;
						this.areaVisible=false;
					}
				},
				watch:{
					provinceName(){
						var that=this;
						this.queryCity(this.provinceCode,function(res){
							that.cityList = res;
						});
					},
					cityName(){
						var that=this;
						this.queryCity(this.cityCode,function(res){
							that.areaList = res;
						});
					}
				}
			})
		</script>
		<script>
			$(function() {
				$("#loginForm").validate({
					rules: {
						workInfo: {
							required: true,
						},
						Province: {
							required: true,
						},
						city: {
							required: true,
						},
						area: {
							required: true,
						},
						detail: {
							required: true,
						},
						phone: {
							required: true,
						},
						income: {
							required: true,
							digits: true
						},
						contactsName: {
							required: true,
						},
						contactsPhone: {
							required: true,
						},
						contactsRelation: {
							required: true,
						}
					},
					messages: {
						workInfo: {
							required: "工作单位不能为空",
						},
						Province: {
							required: "工作单位所在省不能为空",
						},
						city: {
							required: "工作单位所在市不能为空",
						},
						area: {
							required: "工作单位所在区不能为空",
						},
						detail: {
							required: "工作单位详细地址不能为空",
						},
						phone: {
							required: "工作单位电话不能为空",
						},
						income: {
							required: "月收入不能为空",
						},
						contactsName: {
							required: "姓名不能为空",
						},
						contactsPhone: {
							required: "联系方式不能为空",
						},
						contactsRelation: {
							required: "关系不能为空",
						}
					},
					errorPlacement: function(error, element) {
						layer.msg(error.text());
					},
					unhighlight: function(element) {},
					submitHandler: function(form) {
						$.ajax({
							url: "http://www.trinfi.com/dkh5/inputData/saveInputData",
							type: "post",
							dataType: "json",
							data: {
								outTradeNo: vm.outTradeNo,
								linkManName: $("#contactsName").val(),
								linkManMobile: $("#contactsPhone").val(),
								relation: $("#contactsRelation").val(),
								linkManType: "2",
								corpProvince: $("#Province").val(),
								corpCity: $("#city").val(),
								corpCounty: $("#area").val(),
								corpDetail: $("#detail").val(),
								corpPhone: $("#phone").val(),
								incomes: $("#income").val()
							},
							success: function(message) {
								if(message.static == "0") {
									layer.msg("提交成功!");
									window.location.href = "signInformation.html?outTradeNo=" + vm.outTradeNo;
								} else {
									layer.msg(message.message);
								}
							},
							error: function() {
								console.log(1212);
							}
						});
						return;
					},
					onfocusout: function(element) {
						$(element).valid();
					},
					onkeyup: false
				});
			})
		</script>
	</body>

</html>