<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分期公司签订协议</title>
    <meta name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no'>
    <link href="https://cdn.bootcss.com/layer/3.1.0/mobile/need/layer.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div id="app">
<header class="clearFix" id="header">
    <i class="icon"></i>
    <p>分期公司签订协议</p>
</header>
<form action="#" method="get" id="loginForm" class="form">
<div id="content">
    <div class="workInfo">
        <p class="title"><span>签署代扣协议</span></p>
        <p><span>银行卡号</span><input v-model="bankCardNo" id="bankCardNo" name="bankCardNo" type="text" placeholder="请输入银行卡号"></p>
        <p><span>银行</span><select id="bankName" v-model="selected">
                <option v-for="option in options" :value="option.text">
                    {{ option.value }}
                </option>
        </select></p>
        <p><span>开户人姓名</span><input disabled="disabled" v-model="idName" id="account" name="account" type="text"></p>
        <p><span>身份证号</span><input disabled="disabled" v-model="idNo" id="idCard" name="idCard" type="text"></p>
        <p><span>银行预留手机号</span><input id="phone" v-model="bankMobile" name="phone" type="text" placeholder="请填写手机号"></p>
        <p><span style="float: left">验证码</span><input id="msg" name="msg" style="width: 80px;float: left" type="text" placeholder="请填写验证码"><a id="sendMsg" href="javascript:;">发送验证码</a></p>
        <div><input id="cb" name="cb" type="checkbox" style="vertical-align: middle">&nbsp;<label style="vertical-align: middle" for="cb">确定签署</label>  <a style="vertical-align: middle" href="http://www.baidu.com">《代扣协议》</a></div>
    </div>
</div>
<footer id="footer">
    <button id="btn">下一步</button>
</footer>
</form>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script src="js/vue.js"></script>
<script>
    var vm=new Vue({
        el: '#app',
        data: {
            idName:"",
            idNo:"",
            bankCardNo:'',
            bankMobile:'',
            selected:"",
            options:[
                { text: 'ICBC', value: '工商银行' },
                { text: 'ABC', value: '农业银行' },
                { text: 'BOCSH', value: '中国银行' },
                { text: 'CCB', value: '建设银行' },
                { text: 'CMB', value: '招商银行' },
                { text: 'GDB', value: '广发银行' },
                { text: 'BOCOM', value: '交通银行' },
                { text: 'PSBC', value: '邮政储蓄银行' },
                { text: 'CNCB', value: '中信银行' },
                { text: 'CMBC', value: '民生银行' },
                { text: 'CEB', value: '光大银行' },
                { text: 'HXB', value: '华夏银行' },
                { text: 'CIB', value: '兴业银行' },
                { text: 'PAB', value: '平安银行' },
                { text: 'SPDB', value: '上海浦东发展银行' },
            ],
        },
        mounted: function () {
            function GetQueryString(name)
            {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
                if(r!=null)return  unescape(r[2]); return null;
            }
            var outTradeNo= GetQueryString("outTradeNo");
            localStorage.outTradeNo=outTradeNo;
            //为了在内部函数能使用外部函数的this对象，要给它赋值了一个名叫self的变量。
            var that = this;
            $.ajax({
                url: 'http://www.trinfi.com/dkh5/inputData/query?outTradeNo='+outTradeNo,
                type: 'get',
                data: {},
                dataType: 'json'
            }).then(function (res) {
                //把从json获取的数据赋值给数组
                that.idName=res.inputData.idName;
                that.idNo=res.inputData.idNo;
                that.bankCardNo=res.inputData.bankCardNo;
                that.bankMobile=res.inputData.bankMobile;
                that.selected=res.inputData.bankCode;
                console.log(res.inputData);
            }).fail(function () {
                console.log('失败');
            })
        }
    })
</script>
<script>
    $(function () {
        $("#loginForm").validate({
            rules: {
                bankCardNo: {
                    required: true,
                },
                bankName: {
                    required: true,
                },
                account: {
                    required: true,
                },
                idCard: {
                    required: true,
                },
                phone: {
                    required: true,
                },
                msg: {
                    required: true,
                },
                cb:{
                    required: true,
                }
            },
            messages: {
                bankCardNo: {
                    required: "银行卡号不能为空",
                },
                bankName: {
                    required: "银行不能为空",
                },
                account: {
                    required: "开户人姓名不能为空",
                },
                idCard: {
                    required: "身份证号不能为空",
                },
                phone: {
                    required: "手机号不能为空",
                },
                msg: {
                    required: "验证码不能为空",
                },
                cb:{
                    required: "请先签署代扣协议",
                }
            },
            errorPlacement: function(error, element) {
                layer.msg(error.text());
            },
            unhighlight: function(element) {
            },
            submitHandler: function(form) {
                $.ajax({
                    url: "http://www.trinfi.com/dkh5/inputData/validateFourElementsCode",
                    type: "post",
                    dataType: "json",
                    data:{
                        outTradeNo:localStorage.outTradeNo,
                        validateCode:$("#msg").val(),
                    },
                    success: function(message) {
                        if (message.static == "0") {
                            layer.msg("提交成功");
                            window.location.href="http://www.trinfi.com/dankeh5/signInformation2.html?outTradeNo="+localStorage.outTradeNo+"&bankMobile="+$("#phone").val();
                        } else {
                            layer.msg("提交失败");
                        }
                    },
                    error:function () {
                    }
                });
                return;
            },
            onfocusout: function(element) { $(element).valid(); },
            onkeyup:false
        });
    })
</script>
<script>
    $(function () {
        $("#app").on('click','#sendMsg',function () {
            $.ajax({
                url: "http://www.trinfi.com/dkh5/inputData/fourElements",
                type: "post",
                dataType: "json",
                data:{
                    outTradeNo:localStorage.outTradeNo,
                    bankCardNo:$("#bankCardNo").val(),
                    bankCode:$("#bankName").val(),
                    bankMobile:$("#phone").val(),
                },
                success: function(message) {
                    if (message.static == "0") {
                        layer.msg("发送验证码成功");
                    } else {
                        layer.msg("发送验证码失败");
                    }
                },
                error:function () {
                    console.log(1212);
                }
            });
        })
    })
</script>
</body>
</html>