@font-face {
	font-family: 'San Francisco';
	src: url('../font/SF-Pro-Text-Regular.otf');
}
body,p,ul{
	margin: 0;
	padding: 0;
}

ul li{
	list-style: none;
}

[v-cloak] {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
	html{
		font-size: 42.66px!important;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 414px) {
	html{
		font-size: 50px!important;
	}
}

@media only screen and (min-device-width:414px) {
	html{
		font-size: 55.2px!important;
	}
}
