<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<title>CoinAI</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/coinDetail.css" />
		<link rel="stylesheet" href="css/compare.css" />
	</head>
	<body>
		<div id="app" style="height: auto;">
		<navmenu></navmenu>
		<div class="content w1170" style="flex: 1;">
			<div class="navRoot">
				<a href="index.html">Home page</a>
				&gt;
				<a href="">Crypto</a>
			</div>
			<div class="cf" v-cloak>
				<div class="coinImage">
					<p class="iconName">{{coin.coin_name}} ({{coin.simple_name}})</p>
					<img :src="coin.coin_url" alt="" />
				</div>
				<div class="coinDetail">
					<p class="first">CHANGE(24h)</p>
					<p class="second" style="margin: 10px 0;">
						<i class="iconVal">{{coin.price}}</i>
					    USD
						<i class="iconRate" :style="{color:rateColor(coin.hours_24_index)}">({{coin.hours_24_index}})</i>
					</p>
					<p class="second">	
						<i class="iconVal" style="font-size: 16px;">{{coin.price_btc}}
					    BTC
						<i class="iconRate" :style="{color:rateColor(coin.price_btc_rate)}">({{coin.price_btc_rate}}%)</i>
					</i>
					</p>
				</div>
				<div class="coinDetail">
					<p class="first">MARKET CAP</p>
					<p class="second">
						{{coin.market_cap}} USD
					</p>
				</div>
				<div class="coinDetail">
					<p class="first">VOLUME(24h)</p>
					<p class="second">
						{{coin.trading_24_volume}} USD
					</p>
					<p class="second">
						{{coin.trading_24_btc_volume}} BTC
					</p>
				</div>
			</div>
		</div>
		
		<div class="content w1170 analysis" v-cloak>
			<ul class="analysisTab" style="margin-top: 45px;">
				<li :class="{'cur':index==tabIndex}"   v-for="(tab,index) in tabs" @click="switchTab(index)">{{tab}}</li>
			</ul>
			<div>
				<div style="margin-top: 30px;">
					<div class="loader" v-show="loading">Loading...</div>
				</div>
				<!--图表-->
				<div v-show="tabIndex==0" :style="{opacity:opacity}">
				<div id="histogram" style="width: 100%; height: 500px;" ></div>
				<div id="monthly_chart" style="width: 100%; height: 500px;"></div>
				<div id="histchart" style="width: 100%; height: 500px;"></div>
				<div id="underwater" style="width: 100%; height: 500px;"></div>
				</div>
				<div v-show="tabIndex==1" :style="{opacity:opacity}">
					<!--ai-->
					<div style="overflow: hidden;margin-top: 50px;">
					<div class="model">
						<span>Regime  Model :</span>
						<select name="" v-model="aiRegime">
							<option :value="regime.model_name" v-for="regime in ai.RegimeModels">{{regime.model_name}}</option>
						</select>
					</div>
					<div class="model">
						<span>Factor  Model :</span>
						<select v-model="aiFactor">
							<option :value="factor.code" v-for="factor in ai.FactorModels">{{factor.code}}</option>
						</select>
					</div>
					<div class="model">
						<span>Number of Trials :</span>						
						<input type="" name="" id="" value="" v-model="nTrials" style="height: 35px;"/>
					</div>
					<div class="run" @click="getAi">RUN</div>	
					</div>
					
					<div id="ret_histogram"></div>
					<div id="mdd_histogram"></div>
					
					<el-select @change="percent" v-model="percentile" style="margin-left: 158px;">
						<el-option :value="99" label="99th Percentile">
						</el-option>
						<el-option :value="95" label="95th Percentile">
						</el-option>
						<el-option :value="75" label="75th Percentile">
						</el-option>
						<el-option :value="50" label="50th Percentile">
						</el-option>
						<el-option :value="25" label="25th Percentile">
						</el-option>
						<el-option :value="5" label="5th Percentile">
						</el-option>			
						<el-option :value="0" label="0th Percentile">
						</el-option>
					</el-select>
					
					<div id="timeline" style="display: flex;justify-content: center;"></div>
					<div id="monthreturn"></div>
				</div>
				<div v-show="tabIndex==2" :style="{opacity:opacity}">
					<div style="overflow: hidden;margin-top: 50px;">
					<div class="model">
						<span>Regime  Model :</span>
						<select name="" v-model="regime">
							<option :value="regime.model_name" v-for="regime in versus.RegimeModels">{{regime.model_name}}</option>
						</select>
					</div>
					<div class="model">
						<span>Factor  Model :</span>
						<select v-model="factor">
							<option :value="factor.code" v-for="factor in versus.FactorModels">{{factor.code}}</option>
						</select>
					</div>
					<div class="run" @click="getVersus">RUN</div>	
					</div>
					
					<div class="peerTab">
						<span :class="{cur:peerTabIndex==index}" @click="peerTab(index)" v-for="(name,index) in peerTabName">{{name}}</span>
					</div>
					<div class="protfolio">
					<div v-show="peerTabIndex==0">
					<div class="protfolioTitle" style="margin-top: 70px;">Comparison of Coins Performance</div>
						<table border="0" cellspacing="0" cellpadding="0" class="dt_tab">
							<tr>
								<th>Coin</th>
							    <th>Correlation</th>
							    <th>Annualized Return</th>
							    <th>Annualized Volatility</th>
							    <th style="position: relative;">Max Drawdown
							    	<el-tooltip content="Top center" placement="right">
										<div slot="content" class="tipcontent">
											Max Drawdown:The Max Drawdown Duration is the worst (the maximum / longest) amount of time an investment has seen between peaks. 
											Link:<a href="https://en.wikipedia.org/wiki/Drawdown_(economics)">https://en.wikipedia.org/wiki/Drawdown_(economics)</a></div>
										<div class="ques" style="top:18px;left:155px;">
											?
										</div>
									</el-tooltip>
							    </th>
							    <th style="position: relative;">
							    	Serial Correlation
							    	<el-tooltip content="Top center" placement="right">
										<div slot="content" class="tipcontent">
											Serial Correlation:Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay.
											Link:<a href="https://en.wikipedia.org/wiki/Autocorrelation">https://en.wikipedia.org/wiki/Autocorrelation</a></div>
										<div class="ques" style="top:18px;left:160px;">
											?
										</div>
									</el-tooltip>
							    </th>
							</tr>
							<tr v-for="stat in versus.PeerStats.peer_stats" >
								<td>{{stat.Name}}</td>
								<td>{{stat.corr}}</td>
								<td>{{parseFloat(stat.peer_stats.ann_return*100).toFixed(2)+"%"}}</td>
								<td>{{parseFloat(stat.peer_stats.ann_std*100).toFixed(2)+"%"}}</td>
								<td>{{parseFloat(stat.peer_stats.maxdd*100).toFixed(2)+"%"}}</td>
								<td>{{stat.peer_stats.serr_corr}}</td>
							</tr>
						</table>
						<div id="distChartDiv"></div>
						<div id="riskreturndiv"></div>
					</div>	
					<div class="protfolioContent" v-show="peerTabIndex==1&&peer_stats_first.length&&peer_stats_other.length">
						<div class="panel" v-for="stat in peer_stats_first">			
							<p class="return">{{stat.Name}}</p>
							<div class="graph">
								<!--图表-->
								<table border="0" cellspacing="0" cellpadding="0" class="dt_tab">
									<tr>
										<th>Ann ROR</th>
										<th>Ann Vol</th>
										<th style="position: relative;">Skew
										<el-tooltip content="Top center" placement="right">
											<div slot="content" class="tipcontent">
												Skewness:In probability theory and statistics, skewness is a measure of the asymmetry of the probability distribution of a real-valued random variable about its mean. 
												Link:<a href="https://en.wikipedia.org/wiki/Skewness">https://en.wikipedia.org/wiki/Skewness</a></div>
											<div class="ques" style="top:15px;right: 5px;">
												?
											</div>
										</el-tooltip>	
										</th>
										<th style="position: relative;">Kurt
											<el-tooltip content="Top center" placement="right">
											<div slot="content" class="tipcontent">
												Kurtosis:In probability theory and statistics, kurtosis is a measure of the "tailedness" of the probability distribution of a real-valued random variable.
												Link:<a href="https://en.wikipedia.org/wiki/Kurtosis">https://en.wikipedia.org/wiki/Kurtosis</a></div>
											<div class="ques" style="top: 15px;right: 5px;">
												?
											</div>
										</el-tooltip>	
										</th>
										<th>
											Ser. Corr
											<el-tooltip content="Top center" placement="right">
											<div slot="content" class="tipcontent">
												Serial Correlation:Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay.
												Link:<a href="https://en.wikipedia.org/wiki/Autocorrelation">https://en.wikipedia.org/wiki/Kurtosis</a></div>
											<div class="ques" style="top: 15px;right: 5px;">
												?
											</div>
											</el-tooltip>	
										</th>
									</tr>
									<tr>
										<td>{{parseFloat(stat.peer_stats.ann_return*100).toFixed(2)}}%</td>
										<td>{{parseFloat(stat.peer_stats.ann_std*100).toFixed(2)}}%</td>
										<td>{{stat.peer_stats.skew.toFixed(2)}}</td>
										<td>{{stat.peer_stats.kurt.toFixed(2)}}</td>
										<td>{{stat.peer_stats.serr_corr.toFixed(2)}}</td>
									</tr>
									<tr>
										<th style="position: relative;">
											Max DD
											<el-tooltip content="Top center" placement="right">
												<div slot="content" class="tipcontent">
													Max Drawdown:The Max Drawdown Duration is the worst (the maximum / longest) amount of time an investment has seen between peaks. 
													Link:<a href="https://en.wikipedia.org/wiki/Drawdown_(economics)">https://en.wikipedia.org/wiki/Drawdown_(economics)</a></div>
												<div class="ques" style="top:15px;right: 5px;">
													?
												</div>
											</el-tooltip>
										</th>
										<th style="position: relative;">
											Sharpe
											<el-tooltip content="Top center" placement="right">
												<div slot="content" class="tipcontent">
													Sharpe:In finance, the Sharpe ratio is a way to examine the performance of an investment by adjusting for its risk. 
													Link:<a href="https://en.wikipedia.org/wiki/Sharpe_ratio">https://en.wikipedia.org/wiki/Sharpe_ratio</a></div>
												<div class="ques" style="top:15px;right: 5px;">
													?
												</div>
											</el-tooltip>
										</th>
										<th style="position: relative;">
											Sortino
											<el-tooltip content="Top center" placement="right">
												<div slot="content" class="tipcontent">
													Sortino ratio:The Sortino ratio measures the risk-adjusted return of an investment asset, portfolio, or strategy.
													Link:<a href="https://en.wikipedia.org/wiki/Sortino_ratio">https://en.wikipedia.org/wiki/Sortino_ratio</a></div>
												<div class="ques" style="top:15px;right: 5px;">
													?
												</div>
											</el-tooltip>
										</th>
										<th style="position: relative;">
											VaR
											<el-tooltip content="Top center" placement="right">
												<div slot="content" class="tipcontent">
													Value At Risk:Value at risk (VaR) is a measure of the risk of loss for investments..
													Link:<a href="https://en.wikipedia.org/wiki/Value_at_risk">https://en.wikipedia.org/wiki/Value_at_risk</a></div>
												<div class="ques" style="top:15px;right: 5px;">
													?
												</div>
											</el-tooltip>
										</th>
										<th>ETL</th>
									</tr>
									<tr>
										<td>{{parseFloat(stat.peer_stats.maxdd*100).toFixed(2)}}%</td>
										<td>{{stat.peer_stats.sharpe.toFixed(2)}}</td>
										<td>{{stat.peer_stats.sortino.toFixed(2)}}</td>
										<td>{{stat.peer_stats.var.toFixed(2)}}</td>
										<td>{{stat.peer_stats.var_adj.toFixed(2)}}</td>
									</tr>
								</table>
								<div :name="'style'+stat.index">
								</div>
								<div :name="'regime'+stat.index">												
								</div>
							</div>
						</div>
						<div class="vs"><img src="img/vs.png" alt="" /></div>
						<div class="panel">
							<div style="overflow: hidden;height: 26px;">
								<ul class="slider">
									<li v-for="(stat,index) in peer_stats_other" :style="{left:index*100+'%'}">
										<p class="return">{{stat.Name}}</p>
									</li>
								</ul>
							</div>
							<div class="graph">
								<!--图表-->
								<i style="left: -15px;"><img src="img/left.png" alt="" @click="goUp"/></i>
								<div class="sliderDiv">
									<ul class="slider">
										<li v-for="(stat,index) in peer_stats_other" :style="{left:index*100+'%'}">
											<table border="0" cellspacing="0" cellpadding="0" class="dt_tab">
												<tr>
													<tr>
														<th>Ann ROR</th>
														<th>Ann Vol</th>
														<th>Skew</th>
														<th>Kurt</th>
														<th>Ser. Corr</th>
													</tr>
												</tr>
												<tr>
													<td>{{parseFloat(stat.peer_stats.ann_return*100).toFixed(2)}}%</td>
													<td>{{parseFloat(stat.peer_stats.ann_std*100).toFixed(2)}}%</td>
													<td>{{stat.peer_stats.skew.toFixed(2)}}</td>
													<td>{{stat.peer_stats.kurt.toFixed(2)}}</td>
													<td>{{stat.peer_stats.serr_corr.toFixed(2)}}</td>
												</tr>
												<tr>
													<th style="position: relative;">Max DD														
													</th>
													<th style="position: relative;">
														Sharpe													
													</th>
													<th style="position: relative;">
														Sortino														
													</th>
													<th style="position: relative;">
														VaR														
													</th>
													<th>ETL</th>
												</tr>
												<tr>
													<td>{{parseFloat(stat.peer_stats.maxdd*100).toFixed(2)}}%</td>
													<td>{{stat.peer_stats.sharpe.toFixed(2)}}</td>
													<td>{{stat.peer_stats.sortino.toFixed(2)}}</td>
													<td>{{stat.peer_stats.var.toFixed(2)}}</td>
													<td>{{stat.peer_stats.var_adj.toFixed(2)}}</td>
												</tr>
											</table>
											<div :name="'style'+stat.index">

											</div>
											<div :name="'regime'+stat.index">
												
											</div>
										</li>
									</ul>
								</div>
								<i style="right: -15px;"><img src="img/right.png" alt="" @click="goDown"/></i>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div v-show="tabIndex==3">
					<table border="0" cellspacing="0" cellpadding="" class="dt_tab">
						<tr>
							<th>Statistic</th>
	        				<th>Entire History</th>
					        <th v-for="rollResult in ratios.RollResults">{{rollResult[0]}}</th>
						</tr>
						<tr v-for="result in ratios.ResultsAll">
							<td>
								{{result[0]}}						
							</td>
							<td>
								{{result[1]}}					
							</td>
							<td v-for="(rollResult,index) in ratios.RollResults">{{roll[index][result[0]]}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
			<footmenu></footmenu>
		</div>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <script src="js/axios.min.js"></script>
        <script src="js/loader.js"></script>
        <script src="js/common.js"></script>
		<script src="js/coinDetail.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120232487-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', 'UA-120232487-1');
			</script>
	</body>
</html>
