<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<title>CoinAI</title>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/createPortfolios.css" />
	</head>

	<body>
		<div id="app">
			<navmenu></navmenu>
			<div class="content w1170" style="flex: 1">
				<div class="navRoot">
					<a href="index.html">Home page</a>
					>
					<a href="">Create Your Portfolio</a>
				</div>
				<div class="createPortfolio" v-cloak>
					<div class="create">CREATE YOUR PORTFOLIO</div>
					<div class="search">						
						<el-autocomplete popper-class="my-autocomplete" v-model="coinName" :fetch-suggestions="querySearch" placeholder="select a coin" @select="handleSelect">
							<template slot-scope="{ item }">
								<div class="name">{{ item.coin_name }}({{item.simple_name}})</div>
							</template>
						</el-autocomplete>
					</div>					
					<div>
						<ul class="choose-coin">
							<li @click="addBTC">+ Add BTC</li>
							<li @click="addETH">+ Add ETH</li>
							<li @click="addEOS">+ Add EOS</li>
							<li @click="addBANCA">+ Add BANCA</li>
						</ul>
					</div>
					<div class="cash">USDT：<i>{{cash}}%</i></div>
					<div v-show="records.length==0" class="nocoin">
						You have not chosen any coins yet
					</div>
					<div style="color: red;margin-bottom: 5px;" v-show="exceed">Cannot exceed 100%</div>
					<table cellpadding="0" cellspacing="0" class="dt_tab" style="border: 1px #bfbfbf solid;" v-show="records.length>0">
						<tbody>
							<tr>
								<th>Coin</th>
								<th>Weight</th>
								<th>Delete</th>
							</tr>
							<tr v-for="(item , index) in records">
								<td>{{item.coin_name}}</td>
								<td class="weight">
									<span class="inc" @click="decrease(index)">-</span>
									<span class="num"><input type="number"  v-model="item.num" @keyup="changeNum"/> %</span>
									<span class="inc" @click="increase(index)">+</span>
								</td>
								<td><img src="img/dustbin.png" alt="" class="dustbin" @click="remove(index)" /></td>
							</tr>
						</tbody>
					</table>
					<input @click="submit" class="submit" type="submit" value="Submit" v-show="records.length>0" />
				</div>
			</div>
			<footmenu></footmenu>
		</div>
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="js/vue-validator.min.js"></script>
		<script src="js/axios.min.js"></script>
		<script src="js/common.js"></script>
		<script src="js/createPortfolios.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120232487-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', 'UA-120232487-1');
			</script>
	</body>

</html>