	html {
    font-size: 50px;
    }
    body{
    	margin: 0;
    	background: #f0efed;         
    }
    li{
    	list-style: none;
    }
    ul{
    	padding: 0;
    	margin: 0;
    }
    a{
        text-decoration: none;
        color: #333;
    }
    p{
    	margin: 0;
    }
    
    section{
    	background: white;
    	margin-top: 0.3rem;
    }
    
    .nav{
        display: flex;
        background: #06c1ae;
        color: white;
        font-size: 0.32rem;
        line-height: 1.01rem;       	
    }    

    .nav input{
    	height: 0.6rem;
	    border: 0;
	    padding: 0;
	    flex: 1;
	    margin-top: 0.2rem;
	    border-radius: 0.06rem;   
	    background: #05a494;
	    padding-left: 0.8rem;
	    color: white;       	
    }

	.nav input::placeholder {
	    color: white;
	}

    .nav .my{
    	padding: 0 0.2rem;
    }

    .nav .port{			   
	    padding: 0 0.2rem;			  			   
    }
    .icon{
        width: 20%;
		float: left;
		text-align: center;
		height: 1.6rem;
		padding: 0.24rem 0;
		box-sizing: border-box;
    }
    
    .icon a{
    	border-radius: 50%;
		height: 0.8rem;
		width: 0.8rem;
		display: block;
		margin: auto auto 4px auto;
    }
    .icon p{
    	font-size: 0.24rem;
    	color: #666;
    }
    .banner{
    	height:1rem;
    	text-align: center;           		
    }
    .banner img{
    	max-height: 100%;
    }
    
    .main{
    	overflow: hidden;
    }
    .info{
        color:rgb(85, 164, 15);
        font-size: 0.3rem;
        margin: 0.12rem 0.36rem;
    }
    .infoBlock{
    	width: 33.3%;
    	float:left;
    	text-align: center;
    }
    .infoDetail{
    	font-size: 0.23rem;
    }
    
    .infoBlock img{
    	height: 1.24rem;
        width: 1.24rem;
    }
    .theme{
    	overflow: hidden;
    }
    
    .productList{
    	padding-left: 0.2rem;
    }
    
    .productList li{
    	overflow: hidden;
        border-top: 1px solid #f0efed;
        padding: 0.2rem 0;
    }
    
    .productList .productTitle{
        font-size: 0.34rem;
        padding: 0.28rem 0;
    }
    .productList img{
    	float: left;
    	width: 1.8rem;
    	height: 1.8rem;           	
    }
    
    .productList .productDes{
    	float: left;
    	margin-left: 0.2rem;
    	width: calc(100% - 110px);
    }
    .productList .productName{
    	font-size: 0.3rem;
    	margin-bottom: 0.12rem;
    }
    .productList .productPort{
    	font-size: 0.24rem;
    	height: 0.56rem;
    	margin-bottom: 0.16rem;
    }
    
    .productList .MainPrice{
    	color:rgb(6, 193, 174);
    	font-size: 0.38rem;
    	height: 28px;
    }
    
    .productList .MainPrice i{
    	font-size: 0.38rem;
    	
    }
    
    .productList .MainPrice .unit{
    	font-size: 0.26rem;
    }
   
    .productList .secondPrice{
    	font-size: 0.24rem;
    	color:#666
    }
    
    .productList .hasSold{
    	font-size: 0.24rem;
	    color: #666;
	    float: right;
        line-height:0.56rem		    
    }
    .ball{
    	width: 0.9rem;
		height: 0.9rem;
		border-radius: 50%;
		background: #06c1ae;
		position: fixed;
		bottom: 1.5rem;
		right: 0.3rem;
		display: none;
    }           
    .butSet{
        font-size: 0.28rem;
        overflow: hidden;
    }          
    .butSet .buts{
    	float: left;
	    width: 50%;
    }
    .butSet .buts .smallBut{
    	display: inline-block;
	    width: 1.2rem;
	    height: 0.6rem;
	    text-align: center;
	    border: 1px #06c1ae solid;
	    line-height: 0.6rem;
	    color: #06c1ae;
	    border-radius: 0.06rem;
    }       
    footer{
    	padding: 15px 10px 20px 10px;
    }   
    .link{
    	font-size: 0.24rem;
    	overflow: hidden;
    }
    .link a{
    	display: inline-block;
	    float: left;
	    text-align: center;
	    width: 20%;
	    margin-top: 0.2rem;
	    color: #06c1ae;
	    border-right:0.02rem solid #666;	
	    box-sizing: border-box;		    
    }
    .link a:last-child{
    	border:0
    }
    .frind{
    	text-align: center;
    	font-size: 0.24rem;
    	color:#06c1ae;
    	line-height: 0.84rem;    
    }       
    .frind span:first-child{
    	color:#333;
    }           
    .brand{			    
	    text-align: center;
	    font-size: 0.24rem;
    	color:#333;
    	position: relative;    
    }   
    .brand:after{
        content: ' ';
	    border-top: 1px #999 solid;
	    top: 50%;
	    left: 0;
	    position: absolute;
	    width: 100%;   	      	
    }        
	.brand .brandDes{
		background: #f0efed;
		padding: 0 0.3rem;
		position: relative;
	    z-index: 1;
	}           