 @charset "utf-8";
/*清除浮动*/
@charset "utf-8";
/* reset */
html { height: 100% }
body { height: 100%; min-width:1200px; overflow-x: hidden;}
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal;}
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: middle }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input[type=text], input[type=password], input[type=file], textarea { -webkit-border-radius: 0; -webkit-appearance: normal }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { font-size: 14px; font-family:arial}
/*body { line-height: 1.17 }*/
a { text-decoration: none }
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
:focus { outline: none }

.fixed:after, .clearfix:after, .cf:after, .header:after, .main:after, .footer:after { content: " "; display: block; clear: both; height: 0; overflow: hidden }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }            
.lt9 .t-shadow { filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#99000000", EndColorStr="#99000000") }
.t-shadow {background: rgba(0, 0, 0, .5)}

.lf{ float: left;}
.rf{ float: right;}
.jz{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.w1170{
	width: 1170px!important;
	margin: auto;
}

.clearfix{overflow: hidden;}


/*业务级*/
body{
	background: #292929;
}

.footer {
	color: white;
    box-sizing: border-box;
    margin: 45px -110px 0 -110px;   
    position: relative;
}
.footer .items{
	overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer .footitem {text-align: center;}
.footer .footitem .copyright {font-size: 12px;margin: 30px 0;}
.footer .footitem .footlogo {width: 135px;}
.footer .footitem .footdes {text-align: left;margin-right: 40px;float: left;}
.footer .footitem .footdes .footdesp {font-size: 20px;}
.footer .footitem .footdes a , .footer .footitem .footdes span{line-height: 45px;display: block;color: white;}
.footer .footitem .footdes img{vertical-align: middle;}


.service .service-title {
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 135px;
}

.service .service-line {
	text-align: center;
	margin: 25px;
}

/*导航*/
.nav {
    width: 1170px;
    margin: 17px auto;
}

.nav ul{
	display: flex;
	align-items: center;
	height: 75px;
}

.nav li{
	margin: 0 12px;
	color: white;
}

.nav li .login{
	position: absolute;
	top:0;
	left: 0;
}

.nav li .login span{
	float: left;
    height: 28px;
    line-height: 28px;
}

.nav li a{
	color: white;
    line-height: 28px;
    height: 28px;
    float: left;
    margin: 0 7.5px;
}

/*折布*/
.mask{
	position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
}


/*侧栏*/
.sideBar {
	width: 60px;
	height: 295px;
	background: linear-gradient(#1b75fd, #ed1fbc);
	background: -webkit-linear-gradient(#1b75fd, #ed1fbc);
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.sideBar li {
	height: 20%;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
}

.sideBar li .email{
	width: 160px;
    height: 36px;
    position: absolute;
    top: 12px;
    right: 50px;
    line-height: 36px;
    background: #151e2a;
    color: white;
    text-align: left;
    padding: 0 16px;
}

.sideBar li:hover {
	background: #1b75fd;
}

.sideBar li img {}

.sideBar li i {
	width: 28px;
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
	display: block;
	margin: auto;
}


/*弹框*/
.come{
	width: 395px;
	height: 245px;
	background: #292929;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.come .close{
	position: absolute;
	top:16px;
	right:16px;
	cursor: pointer;
}

.come .des{
	color:#1f73fb;
	font-size:34px;
    text-align: center;
	margin-top: 75px;
}

.come .ok{
	width: 155px;
	height:40px;
    background: linear-gradient(to right, #2073fc, #ea20bd);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin: 50px auto 0 auto;
    cursor: pointer;
}