.banner {
	position: absolute;
	top: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	color: white
}

.nav {
    width: 1170px;
    margin: 17px auto;
}

.nav ul{
	display: flex;
	align-items: center;
	height: 75px;
}

.nav li{
	margin: 0 12px;
}

.nav li .login{
	position: absolute;
	top:0;
	left: 0;
}

.nav li .login span{
	float: left;
    height: 28px;
    line-height: 28px;
}

.nav li a{
	color: white;
    line-height: 28px;
    height: 28px;
    float: left;
    margin: 0 7.5px;
}

.name {
	font-size: 100px;
	margin-top: 100px;
}

.summary {
	font-size: 64px;
}

.subscribe {
	font-size: 18px;
	margin-top: 80px;
}

.email {
	margin-top: 10px;
	position: relative;
	width: 480px;
	margin: 15px auto;
}

.email input {
	width: 480px;
    height: 46px;
    background: transparent;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
    top: 0;
    position: absolute;
    left: 0;
    border: 0;
    z-index: 2;
}

.email span {
	position: absolute;
	width: 50px;
	height: 38px;
	line-height: 38px;
    top: 4px;
    right: 6px;
	background: linear-gradient(135deg, #1f73fc, #ea21be);
	z-index: 2;
	cursor: pointer;
}

.email .error{
	color:#f56c6c;
	margin-top: 10px;
	text-align: left;
}

.service {
	height: 100%;
	max-width: 1700px;
	margin: auto;
}

.service .service-title {
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 135px;
}

.service .service-line {
	text-align: center;
	margin: 25px;
}

.service .service-summary {
	font-size: 18px;
	color: #4d4e52;
	text-align: center;
	color: white;
	margin-top: 10px;
}

.pros {
	overflow: hidden;
	text-align: center;
}

.pros li {
	float: left;
	width: 20%;
	margin-top: 70px;
}

.pros li img {}

.pros li p {
	color: white;
}

.list {
	overflow: hidden;
	display: flex;
	align-items: center;
	margin-top: 104px;
}

.list .choose {
	float: left;
	width: 50%;
}

.list .choose img {
	max-width: 70%;
	max-height: 70%;
}

.list .choose p {
	color: white;
	line-height: 50px;
	width: 580px;
	font-size: 24px;
}

.partners {
	overflow: hidden;
	margin-top: 55px;
}

.partners li {
	float: left;
	width: 16.66%;
	text-align: center;
	margin-bottom: 20px;
}

.partners li img {}