 @charset "utf-8";
/*清除浮动*/
@charset "utf-8";
/* reset */
html { height: 100% }
body { height: 100%; min-width:1200px; overflow-x: hidden;}
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal;}
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: middle }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input[type=text], input[type=password], input[type=file], textarea { -webkit-border-radius: 0; -webkit-appearance: normal }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
sup { vertical-align: text-top }
sub { vertical-align: text-bottom }
body, input, select, button, textarea { font-size: 14px; font-family:arial}
/*body { line-height: 1.17 }*/
a { text-decoration: none }
a { blr:expression(this.onFocus=this.blur()) }
a * { *cursor: pointer }
:focus { outline: none }

.fixed:after, .clearfix:after, .cf:after, .header:after, .main:after, .footer:after { content: " "; display: block; clear: both; height: 0; overflow: hidden }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }            
.lt9 .t-shadow { filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#99000000", EndColorStr="#99000000") }
.t-shadow {background: rgba(0, 0, 0, .5)}

.lf{ float: left;}
.rf{ float: right;}
.jz{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.w1170{
	width: 1170px!important;
	margin: auto;
}

.clearfix{overflow: hidden;}

/*网站头部*/

#app{
	display: flex;
	flex-direction:column;
	min-height: 100%;
	width: 100%;
    background: #F6F6FE;
}

[v-cloak] {
	display: none!important;
}

.banner_top {
	width: 100%;
	background: url(../img/j40.jpg) no-repeat center;
	height: 560px;
}

.top {
	padding: 18px;
	position: relative;
	height: 100%;
    box-sizing: border-box;
}

.top .signUp {
	width: 115px;
    height: 40px;
    border: 1.5px #009cff solid;
    color: #009cff;
    display: block;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 42px;
    font-size: 14px;
    transform: translateY(-50%);
    font-weight: bold;
}

.top .login{
	position: absolute;
    width: 115px;
    height: 45px;
    color: white;
    right: 120px;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
}

.top .logoName {
	float: left;
    margin-top: 22px;
    transform: translateY(-50%);
    margin-left: 20px;
}

.top_nav {
	margin-left: 60px;
	height: 100%;
}

.top_nav li {
	float: left;
	margin: 0 15px;
}

.top_nav li a {
	font-size: 14px;
	color: #fff;
	/*opacity: 0.8;*/
	font-family: arial;
	font-weight: bold;
	line-height: 44px;
	display: block;
}

.top_nav li a.box {
	opacity: 1;
}

/*头像*/
.userinfo {
	float: right;
	height: 44px;
	color: white;
}

.userinfo i {
	height: 44px;
	line-height: 44px;
	margin-right: 15px;
	color: white;
}

.userinfo .sculpture{
	vertical-align: middle;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.userinfo .logout{
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}


/*面包屑，筛选*/
.navRoot {
	font-size: 16px;
	margin: 20px auto 0 auto;
}

.navRoot a{
	color:#3B3B3B
}

.content{
	background: white;
    padding: 15px;
    width: 100%;
    margin: 15px auto 0 auto;
    box-sizing: border-box;
}

.content select {
	width: 200px;
    height: 40px;
    border: 1px #1e5adc solid;
    padding-left: 55px;
    box-sizing: border-box;
    margin: 25px 0px;
    appearance: none;
    -webkit-appearance: none;
    width: 160px;
}

.el-select{
	margin: 25px 0;
}

.el-select input{
	text-align: center;
}

.el-select-dropdown li{
	text-align: center;
}

.content .select-span{
	height: 40px;
    float: left;
    margin: 25px 0px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px #1e5adc solid;
    box-sizing: border-box;
    border-left: 0;
}

/*表格*/

.dt_tab {
	width: 100%;
	table-layout: fixed
}

.dt_tab tr th {
	border-bottom: 1px #d2d2d2 solid;
	padding: 25px 0;
	text-align: center;
	font-weight: bold;
}

.dt_tab tr td {
	text-align: center;
	padding: 5px 0;
	font-family: arial;
	font-size: 14px;
	color: #3b3b3b;
	height: 50px;
	border-bottom: 1px #e5e5e5 solid;
}

.dt_tab tr:hover{
	background: #f5f6fd;
}

.dt_tab tr th{
	border-bottom: 1px #e5e5e5 solid;
}

.dt_tab .nickname {
	overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
	text-align: left;
}

.dt_tab .nickname img {
	vertical-align: middle;
	margin-right: 15px;
	height:30px;
	width: 30px;
    border-radius: 50%;
}

.dt_tab .nickname i {}


/*网站底部*/
.footer{
	background: url(../img/bottom.jpg);
    width: 100%;
    height: 205px;
    color: white;
}

.footer .footerItem{
    float: left;
    height: 204px;
}

.footer .footerItem > img{
	margin: 30px 0 25px 0;
}

.footer .footerItem .first{
	margin-top: 30px;
	font-weight: bold;
    line-height: 35px;
    height: 35px;
    font-size: 16px;
}

.footer .footerItem .second{
	line-height: 35px;
    height: 35px;
}

.footer .footerItem .three{
    font-weight: bold;
    height: 43px;
    line-height: 43px;
    font-size: 16px;
    color: white;
}


.footer .footerItem .second img{
	 vertical-align: middle;
}

.footer .footerItem a{
	padding-top: 30px;
    display: block;
}

/*分页*/
.page{margin: 50px auto;display:flex;justify-content: center;}
.page i,.page a{ width: 30px; line-height: 24px; border: 1px solid #f5f6fd; display: block; float: left; text-align: center; margin: 0 8px;}
.page i{ font-size: 22px; color: #dedde9;}
.page a{ font-size: 14px; color: #006eff; font-weight: bold; font-family: arial;background: white;}
.page .open a{background: #dedde9;color:#8d8c94}

/*community*/
.community {
	position: absolute;
	top:250px;
	left: 50%;
	transform: translateX(-50%);
	background: white;
	width: 390px;
	height: 290px;
	z-index: 2;
}
.community .communityTitle{
	margin-top: 45px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.community .communityContent{
	line-height:30px;
	font-size: 18px;
	color:#3b3b3b;
	padding: 0 30px;
    box-sizing: border-box;
    margin-top: 30px;
}
.community .communityBtn{
	width: 150px;
    height: 40px;
    background: #1e5adc;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 40px auto;
    line-height: 40px;
}

.community img{
	float: right;
    margin: 15px 15px 0 0;
    cursor: pointer;
}
.mask{
	position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

/*侧栏*/
.sidebar{
	width: 60px;
    background: #1e5adc;
    float: left;
    margin-left: 40px;
}
.sidebar li{
	height: 60px;
    text-align: center;
    position: relative;
}
.sidebar li a{
	display: block;
    height: 100%;
    border-bottom: 1px rgba(255,255,255,0.3) solid;
    width: 25px;
    margin: auto;
}
.sidebar li a img{
	margin-top: 30px;
    transform: translateY(-50%);
}

.sidebar .email{
	position: absolute;
    right: 50px;
    width: 150px;
    height: 36px;
    line-height: 36px;
    margin-top: 12px;
    background: #151e2a;
    color: white;
}

/*侧栏*/
.hovering{
	position: fixed;
	top:20%;
	right: 0;
	display: none;
}
/*dashboard*/
.dashboard{
	width: 240px;
    height: 435px;
    background: #151e2a;
    float: left;
    position: relative;
}
.dashboard .cc{
	position: absolute;
	right: 10px;
	top:10px;
	cursor: pointer;
}

.dashboard .dashboard-title{
	font-size: 18px;
    color: white;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
    font-weight: bold;
}
.dashboard .dashboard-logo{
	text-align: center;
    padding: 15px 0 30px 0;
}
.dashboard .dashboard-seach{
	display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard .dashboard-seach input{
	width: 180px;
    height: 25px;
    float: left;
}

.dashboard .dashboard-seach span{
	width: 40px;
	height: 29px;
	background: #1e5adc;
	display: block;
	float: left;
	line-height: 29px;
	text-align: center;
	cursor: pointer;
}

.dashboard .dashboard-seach span img{
	vertical-align: middle;
}

.dashboard .dashboard-table{
	margin: 30px auto auto auto;
    text-align: center;
    table-layout: fixed;
    width: 200px;
    color: white;
}

.dashboard .dashboard-table {
	width: 100%;
	table-layout: fixed;
	font-size: 12px;
	padding: 0 15px;
    box-sizing: border-box;
}

.dashboard .dashboard-table tr th,.dashboard .dashboard-table tr td{
	height:40px
}

.dashboard .dashboard-table tr th {
	border-bottom: 1px #d2d2d2 solid;
	text-align: center;
}

.dashboard .dashboard-table tr td {
	height: 40px;
}

.dashboard .dashboard-table tr th,
.dashboard .dashboard-table tr td {
	border-bottom: 1px #e5e5e5 solid;
}
.dashboard .token img{
	margin-top: 20px;
    transform: translateY(-50%);
    margin-right: 6px;
}
.dashboard .token span{
	line-height: 40px;
	
}
.dashboard .dashboard-table .changeRate{
	color: #c1060b;
}

/*搜索*/
.search{
	margin-top: 55px;
    display: flex;
}

.search input{
	width: 380px;
    height: 30px;
    border: 1px #1e5adc solid;
    background: url(../img/search1.png) no-repeat 10px;
    padding-left: 40px;
    box-sizing: border-box;
}
.search span{
	width: 108px;
    height: 30px;
    border: 1px #1e5adc solid;
    background: #1e5adc;
    line-height: 30px;
    text-align: center;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}
/*model*/
.model{
	float: left;
}

.model input{
	text-align: center;
}

.model select{
	width: 180px;
    height: 35px;
    border:1px #dedde9 solid;
    margin: 0;
}

.model span{
	margin: 0 20px;
}

.run{
	width: 70px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #1e5adc;
    color: white;
    margin-left: 40px;
    float:left;
    cursor: pointer;
}

.ques{
	background: black;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    position: absolute;
    z-index: 2;
    color:white;
    font-size: 12px;
}

.tipcontent{
	width: 200px;
	word-wrap: break-word;
	color: white;
}
.tipcontent a{
	color:#0c99f9;
}

.loader {
	color: #1e5adc;
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: absolute;
	left: 50%;
	z-index: 2;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	margin-top: 120px;
}

@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*底部按钮*/
.widget{
	overflow: hidden;
	margin-top: 20px;
}

.widget li{
	padding:0 5px;
	float:left;
	text-align: center;
}
.widget li .view{
	margin-top: 3.5px;
}

.widget li i{
	display: block;
    margin-top: 3.5px;
}