<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div id="app">
		<div class="pro">
			<img src="img/banner_02.png" alt="" />
			<div class="proContent">
				<p class="title">CMCSTAR</p>
				<div class="describe">
					<div class="tit">We provide all kinds</div>
					<div class="tit">of crypto related services including</div>
					<div class="cont" style="margin-top: 0.1rem;">Airdrop</div>
					<div class="cont">Listing on Exchanges</div>
					<div class="cont">Market Making</div>
				</div>
			</div>
		</div>
		<div>
			<ul class="form">
				<li>
					<div class="key">ProjectName</div>
					<input class="value" type="text" value="" v-model="projectName"/>
				</li>
				<li>
					<div class="key">FirstName</div>
					<input class="value" type="text" value="" v-model="firstName"/>
				</li>
				<li>
					<div class="key">LastName</div>
					<input class="value" type="text" value="" v-model="lastName"/>
				</li>
				<li>
					<div class="key">Title</div>
					<input class="value" type="text" value="" v-model="title"/>
				</li>
				<li>
					<div class="key">Telegram</div>
					<input class="value" type="text" value="" v-model="telegram"/>
				</li>
				<li>
					<div class="key">Email</div>
					<input class="value" type="text" value="" v-model="email"/>
					<div class="error" v-show="error">please enter your correct email address</div>
				</li>
			</ul>
		</div>
		<div class="submit" @click="submit">Submit</div>
		<div class="linkway">
			<div class="email">
				<img src="img/email.png" alt="" />
			</div>
			<div class="text">info@cmcstar.com</div>
		</div>
		</div>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/axios.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>
