body,p{
	margin: 0;
	padding: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
	html{
		font-size: 42.66px!important;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 414px) {
	html{
		font-size: 50px!important;
	}
}

@media only screen and (min-device-width:414px) {
	html{
		font-size: 55.2px!important;
	}
}

/*业务*/

.checkDiv{
	display: flex;
}

.checkDiv input[type="checkbox"]{
	vertical-align: middle;
    width: 0.36rem;
    height: 0.36rem;
    float: left;
}

.checkDiv a{
	vertical-align: middle;
    color: rgb(53, 198, 211);
    text-decoration: none;
}

.sendMsg{
	color:#35C6D3;font-size: 0.32rem;margin-right:0.3rem;text-decoration: none;
}
